.top-section {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
}

.search-bar .orderBy {
  width: 150px;
}

td button {
  cursor: pointer;
}

td button:disabled {
  color: silver;
  cursor: not-allowed;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .search-bar input {
    max-width: 100%;
  }

  .search-bar .orderBy {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .top-section {
    margin: 10px 0;
  }

  .search-bar input {
    font-size: 14px;
    /* Smaller font size on mobile */
  }

  .search-bar .orderBy {
    font-size: 14px;
    /* Adjust the font size */
  }

  td button {
    font-size: 14px;
    /* Adjust button size on smaller screens */
  }
}